.el-upload {
  width:98%;
  margin-left: 1%;
  margin-right: 1%;
  .el-upload__text {
    color: white;
  }
}
.el-upload-dragger {
  background-color: #606060 !important;
  margin-top: 40px !important;
  width: 98% !important;
  margin: auto;
}
.el-icon-check{
  font-size: 44px;
  margin-top: 15px;
}
.tab {
  .el-tabs__item{
  width: 55%;
  height:70px;
  background-color:#606060;
  color:#bcbcbc;
  padding-top:15px;
}
.el-tabs__item:hover{
  background-color:#414141;
  box-shadow: 5px 10px 18px #888888;
}
.el-tabs__active-bar{
  width:50% !important;}
.el-tabs__header{
  width:1176px;
}
.el-tabs--top .el-tabs__item.is-top:nth-child(2) {
    padding-left: 20px;
  }
}
.header-div
{
  .el-tabs__header.is-top
  {
    background-color: #CCCCCC;
    min-height: 3.5em;
  }
  .el-tabs__item.is-top {
    background-color: #bcbcbc;
    height: 3em;
    color: white;
    border: 0;
    }
  .el-tabs__item.is-top.is-active {
    padding-top: 1em;
    margin-right: 0.2em;
    height: 4em;
    background-color: #0D72B9 !important;
    color: white;
  }
  .el-tabs__item:hover {
    background-color: #0D72B9 !important;
  }
  .el-tabs
  {
    background-color:  #E9E9E9;
  }
  .el-tabs--border-card>.el-tabs__content
  {
    padding: 0.5em 0px;
  }
  .el-dropdown-menu el-popper{
    width: 10px;
  }
  .el-tabs--border-card >.el-tabs__content
  {
    padding: 0px !important;
  }
}
.el-upload-list__item
{
  .el-upload-list__item-name
  {
    color: #29aae2;
  }
}
.el-upload-list {
  margin-left: 1em;
  margin-right: 1em;
}




