$blue-my-projects: #0D72B9;
$grey-my-projects-lighter: #E9E9E9;
$grey-my-projects-darker: #CCCCCC;
$dark-my-projects: #424242;
$green-my-projects: #66CD6C;
$blue-my-projects: #0D72B9;
$grey-my-projects-lighter: #E9E9E9;
$grey-my-projects-darker: #CCCCCC;
$dark-my-projects: #424242;
$green-my-projects: #66CD6C;
$blue-requests: #29AAE3;
$green-requests: #66CD6C;
$red-requests: #EE5C21;
$orange-activity: #FFC66C;
$tirquise-activity: #45B9B0;
$blue-activity: #00A2D3;
$purple-activity: #8879BF;

.orange-activity
{
  background: $orange-activity;
}
.blue-activity
{
  background: $blue-activity;
}
.tirquise-activity
{
  background: $tirquise-activity;
}
.purple-activity
{
  background: $purple-activity;
}
